<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin/add/}" th:object="${user}" id="myForm">
    <input name="name" type="text" th:field="*{name}" id="name" value="name" placeholder="name">
    <br>
    <input name="lastname" type="text" th:field="*{lastname}" id="lastname" value="lastname" placeholder="lastname">
    <br>
    <input name="email" type="text" th:field="*{email}" id="email" value="email" placeholder="email">
    <br>
    <input name="username" type="text" th:field="*{username}" id="username" value="username" placeholder="username">
    <br>
    <input name="password" type="password" th:field="*{password}" id="password" value="password" placeholder="password">
    <br>
    <input name="roles" type="text" th:field="*{roles}" id="roles" value="roles" placeholder="roles">
    <br>
    <input type="submit" value="Add User">
</form>

<a th:href="@{/admin}">All users</a>
<br>
<a th:href="@{/logout}">logout</a>

</body>
</html>