<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}" id="myForm2">
    <input type="text" th:field="*{name}" id="name" value="name" th:placeholder="*{name}">
    <br>
    <input type="text" th:field="*{lastname}" id="lastname" value="lastname" th:placeholder="*{lastname}">
    <br>
    <input type="text" th:field="*{email}" id="email" value="email" th:placeholder="*{email}">
    <br>
    <input type="text" th:field="*{username}" id="username" value="username" th:placeholder="*{username}">
    <br>
    <input type="text" th:field="*{password}" id="password" value="password" th:placeholder="*{password}">
    <br>

    <input type="submit" value="Edit User">
</form>


<a th:href="@{/admin}">All users</a>
<br>
<a th:href="@{/logout}">logout</a>
</body>
</html>